#title ul {
    width: 600px;
    margin: 0 auto;
    height: 115px;
    position: relative;
    overflow: hidden;
}
#title ul li {
    list-style: none;
    float: left;
    font-size: 24px;
    margin-top: 18px;
    padding: 10px;
    width: 36px;
    margin-left: 5px;
    color: #000;
}
#title ul li:nth-of-type(1) {
    background: #0b7c9c;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
}
#title ul li:nth-of-type(2) {
    background: #0e98c0;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
}
#title ul li:nth-of-type(3) {
    background: #35bfe7;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
}
#title ul li:nth-of-type(4) {
    top: 40px;
    left: 145px;
    background: #6acdea;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
}
#title ul li:nth-of-type(5) {
    background: #7ee0fc;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}
#title ul li:nth-of-type(6) {
    background: #45e8fb;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(35deg);
}
#title ul li:nth-of-type(7) {
    background: #45e8fb;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(35deg);
}
#title ul li:nth-of-type(8) {
    background: #8cd4eb;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(35deg);
}
#title ul li:nth-of-type(9) {
    background: #8cd4eb;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(35deg);
}
#title ul li:nth-of-type(10) {
    background: #19bae9;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(35deg);
}
#title ul li:nth-of-type(11) {
    background: #19bae9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
#title ul li:nth-of-type(12) {
    background: #0e98c0;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
}
#title ul li:nth-of-type(13) {
    background: #0b7c9c;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
}

.cv-top-border-1 {
    border-bottom: solid 5px #00ffea;
}
.cv-top-border-2 {
    border-bottom: solid 5px #0000aa;
}
.cv-top-border-3 {
    border-bottom: solid 5px #00ffea;
}

.cv .sub-title {
    text-transform: uppercase;
    color: dodgerblue;
    border-bottom: dodgerblue solid 2px;
}

.cv .cv-personal-item {
    color: rgba(2, 2, 7, 0.54);
}
.cv-education-item {
    font-size: larger;
}
.cv a {
    color: #990003
}
.border {
    list-style: none;
    padding: 0;
}
.border li {
    margin-bottom: 10px;
    padding-left: 2px;
    border-radius: 5px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
    -2px -2px 5px 0 rgba(0, 0, 0, .1),
    2px 2px 5px 0 rgba(0, 0, 0, .1),
    -2px 2px 5px 0 rgba(0, 0, 0, .1);
    transition: 0.3s all linear;
}
.border li:nth-child(2) {
    border-color: #8bc63e;
}
.border li:nth-child(3) {
    border-color: #fcba30;
}
.border li:nth-child(4) {
    border-color: #1ccfc9;
}
.border li:nth-child(5) {
    border-color: #493224;
}
.border li:nth-child(6) {
    border-color: #315dbd;
}
.border li:nth-child(7) {
    border-color: #9e0505;
}
.border li:hover {
    border-left: 10px solid transparent;
}
.border li:nth-child(1):hover {
    border-right: 10px solid #f05d22;
}
.border li:nth-child(2):hover {
    border-right: 10px solid #8bc63e;
}
.border li:nth-child(3):hover {
    border-right: 10px solid #fcba30;
}
.border li:nth-child(4):hover {
    border-right: 10px solid #1ccfc9;
}
.border li:nth-child(5):hover {
    border-right: 10px solid #493224;
}
.border li:nth-child(6):hover {
    border-right: 10px solid #315DBD;
}
.border li:nth-child(7):hover {
    border-right: 10px solid #9e0505;
}
body .cv {
    font-family: Georgia;
    color: #444;
}
#hd h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cv h3, .cv h4 {
    font-size: 1.75em;
}
.cv h1, .cv h2, .cv h3, .cv h4 {
    color: #333;
}
.cv p {
    line-height: 20px;
}
a:hover .cv {
    text-decoration: none;
}
body .cv , h5 .cv {
    font-size: 1.25em;  /* гибкая основа */
}
.cv{
    background: rgba(4, 246, 0, 0.05);
    -webkit-box-shadow: inset 0px 0px 47px 18px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 47px 18px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 47px 18px rgba(0,0,0,0.4);
}
.cv .job-company {
    color: dodgerblue;
}

.cv .job-timeline {
    color: rgba(2, 2, 7, 0.54)
}

.cv p.objective-text{
    width: 80%;
    margin: 0 0 0 45px;
}
.cv h4.job-title{
    font-size: 1.5em;
}
a#pdf {
    display: block;
    float: left;
    background: #666;
    color: white;
    padding: 6px 50px 6px 12px;
    margin-bottom: 6px;
    text-decoration: none;
    font-size: 0.5em;
}

a#pdf:hover {
    background: #222;
}

@media print {
    footer, .top-bar {
        display: none;
    }

    .not-print { /*TODO :: delete when site will be deployed*/
        display: none;
    }
}

@media screen and (max-width: 50em) {
    body.cv , .cv h5 {
        font-size: 1.5em; /* 1,25em относительно основы в 16px к body в результате даст размер шрифта в 20px */
    }
    .cv h3, .cv h4 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 40em) {
    body .cv, .cv h5 {
        font-size: 1.25em;
    }
    h3, h4 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 30em) {
    body.cv , .cv h5 {
        font-size: 1.0em;
    }
    .cv h3, .cv h4 {
        font-size: 1.25em;
    }
}