html,
body {
    height: 100%;
    font-size: 16px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap > .container {padding: 0 15px 0;}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.not-set {
    color: #c55;
    font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {content: /*"\e113"*/ "\e151";}
a.desc:after {content: /*"\e114"*/ "\e152";}
.sort-numerical a.asc:after {content: "\e153";}
.sort-numerical a.desc:after {content: "\e154";}
.sort-ordinal a.asc:after {content: "\e155";}
.sort-ordinal a.desc:after {content: "\e156";}
.grid-view th {white-space: nowrap;}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    border: none;
}
 .separator{
     clear: both;
     height: 2px;
     margin: 10px 0;
     width:100%;
     background: black ;
 }
.parent{vertical-align: middle;}
.panel-shadow {box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;}
.panel-white {border: 1px solid #dddddd;}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}
.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {margin-bottom: 0;}
.post .post-heading .meta .title a {color: black;}
.post .post-heading .meta .title a:hover {color: #aaaaaa;}
.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
}
.post .post-description {
    padding: 15px;
}
.post .post-description p {
    font-size: 14px;
}
.post .post-description .stats {
    margin-top: 20px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {margin-right: 8px;}
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}
.post .post-footer .input-group-addon a {color: #454545;}
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}
.post .post-footer .comments-list .comment .comment-body {margin-left: 50px;}
.post .post-footer .comments-list .comment > .comments-list {margin-left: 50px;}
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        padding: 10px 15px;
    }
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {text-decoration: none;}
.nav > li > form > button.logout:focus {outline: none;}
.panel-heading a{color:white;}

.affix {
    top: 20px;
    right: 20px;
}
.last-comments h2{
    text-align: center;
    color: #c52d2f;
}
/*TODO:: fix image*/
.last-posts{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background: black;
}
.last-posts h2{
    color: white;
}
.last-posts .wrapper{
    margin:3em 0;
}
.last-posts a, .last-posts a:visited,.last-posts a:hover,.last-posts a:active{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    font-size:1.0em;
}
.last-posts a:hover{
    color:#c52d2f;
}
.last-posts a.before:before, .last-posts a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
}
.last-posts a.before:before{
    top:-0.25em;
}
.last-posts a.after:after{
    bottom:-0.25em;
}
.last-posts a.before:before,.last-posts a.after:after{
    height:3px;
    height:0.21rem;
    width:0;
    background:#c52d2f;
}

.last-posts a.before:hover:before, .last-posts a.after:hover:after{
    width:100%;
}
.last-posts .square{
    box-sizing:border-box;
    margin-left:-0.4em;
    position:relative;
    font-size:1.0em;
    overflow:hidden;
}
.last-posts .square a{
    position:static;
    font-size:100%;
    padding:0.2em 0.4em;
}
.last-posts .square:before,.last-posts .square:after{
    content: "";
    box-sizing:border-box;
    transition:0.25s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    width:3px;
    width:0.21rem;
    height:0;
    background:#c52d2f;
}
.last-posts .square:before{
    left:0;
    bottom:-0.2em;
}
.last-posts .square.individual:before{
    transition-delay:0.6s;
}
.last-posts .square:after{
    right:0;
    top:-0.2em;
}

.last-posts .square a:before{
    left:0;
    transition:0.25s all ease;
}
.last-posts .square a:after{
    right:0;
    transition:0.25s all ease;
}

.last-posts .square:hover:before,.square:hover:after{
    height:calc(100% + 0.4em);
}
.last-posts .square:hover a:before,.square:hover a:after{
    width:100%;
}

/*category slider*/
.category-slider .carousel-control     		 { width:  4%; }
.category-slider .carousel-control.left,.category-slider .carousel-control.right {margin-left:15px;background-image:none;}
.category-slider .carousel .item .category-text{ color: white; font-size: 14px;position: absolute;top: 33%;left: 33%;}
/*end category slider*/

